/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  position: relative;
}

.headspace {
  height: 280px;
  width: 100%;
  background: linear-gradient(rgb(94, 125, 157), rgb(63, 94, 129));
}

.outercontentwrap {
  width: 55%;
  height: 600px;
  margin: 0px auto;
  position: relative;
  top: -186px;
}

.phone {
  float: left;
margin-left:
  width: 35%;

}
.innerwrap {
  float: left;
  margin-left: 5%;
  width: 60%;
  padding-top: 5px;
}

.loginbut {
  display: inline-block;
  width: 102px;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  font-size: 18px;
  padding: 10px 15px 10px 0px;
  color: white;
  background: linear-gradient(rgb(118, 146, 174), rgb(80, 114, 149));
  border: 1px solid #06365f;
  border-radius: 4px;
}
.loginbutton {
  position: absolute;
  display: inline-block;
  top: 1%;
  right: 7%;
}
.loginbutton > img {
  position: absolute;
  top: 36%;
  left: 11%;
}
.txtframe {
  width: 427px;
  position: absolute;
  top: 18%;
  left: 44%;
}
.txtframe h1 {
  width: 330px;
}
.txtframe p {
  font-size: 17px;
}
.txtframe span {
  font-weight: 400;
}
.appimage {
  margin-left: 42px;
  margin-top: 111px;
}
.appimage .android {
  margin-left: 10px;
}
